.banner{
  text-align: center;
  background-image: url("../img/banner-fon-320.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 424px;
  position: relative;
  &__title{
    font-size: 3.42em;
    @include montserratBold;
    color: #ffffff;
    padding-bottom: 20px;
  }
  &__subtitle{
    font-size: 1.28em;
    color: $themeColor;
    @include montserratReg;
    line-height: 2;
    padding-bottom: 18px;
  }
  &__text{
    text-transform: uppercase;
    color: $textColorLightGrey;
    @include montserratReg;
  }
}
.btn{
  &--large-font{
    font-size: 1.28em;
  }
  &--width-l{
    width: 290px;
    height: 45px;
  }
  &--added-text{
    position: relative;
    &::after{
      content:'Unlimited 30-Days Trial Period';
      color: $themeColor;
      font-size: 14px;
      @include montserratReg;
      position: absolute;
      top:62px;
      left:40px;
    }
  }
}
.btn-position{
  position: absolute;
  top: 620px;
  left: 20px;
  right: 20px;
}

@media screen and (min-width: 481px) {
  .banner{
    background-image: url("../img/banner-fon-768.png");
    background-size: cover;
    padding-bottom: 487px;
    &__title{
      font-size: 5.14em;
      padding-bottom: 26px;
    }
    &__subtitle{
      font-size: 2em;
      padding-bottom: 20px;
    }
  }
  .btn{
    &--large-font{
      font-size: 1.5em;
    }
    &--width-l{
      width: 390px;
      height: 62px;
      border-radius: 30px;
    }
    &--added-text{
      &::after{
        top:80px;
        left:88px;
      }
    }
  }
  .btn-position{
    top: 750px;
  }
}

@media screen and (min-width: 992px) {
  .banner{
    background-image: url("../img/banner-fon.png");
    background-size: cover;
    padding-top: 60px;
    &__title{
      font-size: 5.85em;
      padding-bottom: 18px;
    }
    &__subtitle{
      font-size: 2.14em;
      padding-bottom: 18px;
    }
  }
  .btn{
    &--border-hover{
      border: 1px solid rgba(255,255,255,0);
      &:hover{
        border: $themeColor 1px solid;
      }
      &::after{
        top:80px;
        left:88px;
      }
    }
    &--added-text{
      &::after{
        top:80px;
        left:88px;
      }
    }
  }
  .btn-position{
    top: 765px;
  }
}