.pricing{
  padding-top: 75px;
  padding-bottom: 93px;
  background-color: #4b3b4e;
  color: #fff;
  &__title{
    @include montserratBold;
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 56px;
    text-align: center;
  }
  &__wrap{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  &__item{
    @include flexContainer(column);
    justify-content: center;
    width: 100%;
    margin-bottom: 14px;
    padding-bottom: 38px;
    &--padding-inline{
      width: 92%;
    }
    &--grey-bg{
      background-color: rgba(255,255,255,.11);
    }
    &--dark-bg{
      background-color: rgba(63,50,65,.84);
    }
    &--padding-bottom-bigger{
      padding-bottom: 47px;
    }
  }
  &__item-head{
    background-color: rgba(255,255,255,.06);
    @include montserratReg;
    font-size: 24px;
    text-transform: uppercase;
    padding-top: 47px;
    padding-bottom: 34px;
    width: 100%;
    text-align: center;
    &--dark-large-bg{
      background-color: #3a2d3d;
      padding-top: 51px;
      padding-bottom: 43px;

    }
  }
  &__item-price{
    @include montserratBold;
    font-size: 60.18px;
    padding-top: 29px;
    &--regular{
      @include montserratReg;
    }
    &--large{
      padding-top: 15px;
      font-size: 82px;
    }
  }
  &__item-period{
    padding-top: 20px;
    padding-bottom: 73px;
    @include montserratReg;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.302);
    position: relative;

  }
  &__item-period:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70px;
    width: 60px;
    height: 6px;
    background-color: $themeColor;
  }
  &__item-licence{
    text-align: center;
    line-height: 28px;
    @include montserratReg;
    font-size: 16px;
    padding-bottom: 68px;
    &--large{
      padding-bottom: 79px;
    }
    &--small{
      padding-bottom: 40px;
    }
  }
  .btn{
    border: none;
    color: #fff;
    border-radius: 50px;
    @include montserratReg;
    &_grey-bg{
      background-color: rgba(255,255,255,.15);
      color: #fff;
    }
    &_grey-bg:hover,
    &_grey-bg:active{
      background-color: rgba(255,255,255,.7);
      @include montserratBold;
      color: #7f6d78;
    }

    &_medium-font{
      font-size: 15px;
    }
    &_width-m{
      width: 160px;
    }
    &_uppercase{
      text-transform: uppercase;
    }
    &_padding-block{
      padding-top: 16px;
      padding-bottom: 15px;
    }
    &_bigger{
      width: 190px;
      padding-top: 21px;
      padding-bottom: 19px;
      font-size: 16px;
    }
  }


}
@media screen and(min-width: 481px) {
  .pricing {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../img/pricing-bg.png"), linear-gradient(#4b3b4e,#4b3b4e);
    &__title {
      font-size: 42px;
        margin-bottom: 47px;
    }
    &__wrap {
      width: 95%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 0;
      grid-row-gap: 37px;
    }
    &__item {
      margin-bottom: 0;
      &--padding-inline {
        width: 92%;
      }
    }
    &__item-head{
      padding-left: 15px;
      padding-right: 15px;
    //  только для 482-600px
      font-size: 21px;
    }
    &__item-licence {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media screen and(min-width: 730px){
  .pricing{
    &__wrap {
      width: 75%;
    }
    &__item {
      align-items: center;
      &--padding-inline {
        width: 87%;
      }
    }
    &__item-head{
      font-size: 24px;
    }
  }
}
@media screen and(min-width:992px){
  .pricing {
    padding-bottom: 97px;

   &__title {
      font-size: 48px;
      margin-bottom: 70px;
    }
    &__wrap {
      width: 93%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 13px;
      grid-row-gap: 0;
    }
    &__item {
      margin-bottom: 0;
      &--padding-inline {
        width: 100%;
      }
    }
  }
}





