.revol-editor{
  padding-top: 116px;
  padding-bottom: 65px;
  &__title{
    @include montserratBold;
    font-size: 26px;
    color: #635C73;
    text-transform: uppercase;
    line-height: 1.615;
    margin-bottom: 7px;
    text-align: center;

  }
  &__subtitle{
    color: $textColorDarkGrey;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;

  }
  &__btn-list{
    list-style: none;
    @include flexContainer(row);
    justify-content: center;
    flex-wrap:wrap;
    width: 90%;
  }
  &__btn-list-item{
    @include flexContainer(row);
    justify-content: center;
    margin-right:10px;
    border-radius: 3px;
    border: 1px solid rgba(27,31,35, .2);
    &--margin-b{
      margin-bottom: 23px;
    }

  }
  &__btn-actions:link,
  &__btn-actions:visited,
  &__btn-social-count:link,
  &__btn-social-count:visited{
    text-decoration: none;
    @include flexContainer(row);
    justify-content: center;
    color: #24292e;
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
  }
  &__btn-actions{
    border-right: 1px solid rgba(27,31,35, .2);
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    user-select: none;
  }
  &__btn-actions-img{
    margin-right: 3px;
  }
  &__btn-social-count{
    user-select: none;
  }
  &__btn-actions:hover,
  &__btn-actions:active{
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.35);
  }
  &__btn-social-count:hover,
  &__btn-social-count:active{
    color: #0366d6;
  }
}
.container{
  &_column{
    @include flexContainer(column);
      justify-content: center;

  }
}

@media screen and(min-width: 481px){
  .revol-editor{
    padding-top: 154px;
    padding-bottom: 100px;
    &__title{
      font-size: 36px;
      margin-bottom: 15px;
    }
    &__subtitle{
      font-size: 17px;
      line-height: 1.524;
      margin-bottom: 40px;
    }
    &__btn-list{
      width: 60%;
    }
  }
}
@media screen and(min-width: 730px){
  .revol-editor{
    &__title{
      font-size: 42px;
    }
    &__subtitle{
      font-size: 21px;
      width:80%;
    }
    &__btn-list{
      width: 50%;
    }
  }
}
@media screen and(min-width:992px){
  .revol-editor{
    padding-top: 130px;
    padding-bottom: 72px;
    &__title{
      font-size: 54px;
      margin-bottom: 35px;
    }

  }
}
