.what-you-get{
  background-color: #f4f4f4;
  padding-top: 38px;
  padding-bottom: 20px;
  &__screenshot-title{
    order: 0;
    color: $themeColor;
    font-size: 32px;
    @include montserratBold;
    text-align: center;
    margin-bottom: 39px;
  }
  &__features{
    order: 1;
  }
  &__features-item{
    @include flexContainer(column);
    margin-bottom: 32px;
  }
  &__item-text{
    @include flexContainer(column);
    justify-content: center;
  }
  &__item-text-title{
    color: $textColorDarkGrey;
    @include montserratReg;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__item-text-p{
    text-align: center;
    line-height: 21px;
  }
  &__sprite{
    background-image: url(../img/what-you-get-spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 28px;
    &--icon-experimental-stuff{
      width: 60px;
      height: 84px;
      background-position: 0 0;
    }
    &--icon-powerful-tool{
      width: 90px;
      height: 80px;
      background-position: -60px 0;
    }
    &--icon-web-better{
      width: 111px;
      height: 64px;
      background-position: -150px 0;
    }
    &--icon-web-better-clock{
      width: 71px;
      height: 71px;
      background-position: -261px 0;
    }
  }
  &__screenshot-img{
    order: 2;
    height: 385px;
    width: 100%;
    position: relative;
  }
  &__screenshot-img:after{
    content: '';
    height: 380px;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/what-you-get-screenshot-320.png);
    background-size:cover;
    background-repeat: no-repeat;
  }
}
.container{
  &_grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
@media screen and(min-width: 481px){
  .what-you-get{
    padding-top: 55px;
    padding-bottom: 30px;
    &__screenshot-title{
      font-size: 42px;
      margin-bottom: 61px;
    }
    &__features-item{
     display:grid;
      grid-template-columns: 140px 4fr;
      grid-gap: 60px 20px;
      width: 100%;
    }
    &__item-text{
      @include flexContainer(column);
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__item-text-title{
      text-align: left;
    }
    &__item-text-p{
      text-align: left;
    }
    &__sprite{
      justify-self: center;
      margin-bottom: 0;
    }
    &__screenshot-img{
      height: 519px;
    }
    &__screenshot-img:after{
      height: 519px;
      background-image: url(../img/what-you-get-screenshot-768.png);
    }
  }
}
@media screen and(min-width:992px){
  .what-you-get{
    padding-top: 84px;
    padding-bottom: 33px;
    overflow: hidden;
    &__screenshot-title{
      order:1;
      font-size: 42px;
      margin-bottom: 28px;
    }
    &__features{
      margin-top: 20px;
      order:0;
      grid-row: 1/span 2;
    }
    &__features-item{
      grid-gap: 25px;
    }
    &__screenshot-img{
      height: 519px;
    }
    &__screenshot-img:after{
      height: 519px;
      background-image: url(../img/what-you-get-screenshot-1200.png);
      background-size: contain;
    }
  }
  .container{
    &_grid{
      grid-column-gap: 85px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }
  }
}
