@mixin montserratBold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@mixin flexContainer($direction){
  display: flex;
  align-items: center;
  flex-direction: $direction;
}
@mixin montserratReg{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

